<div class="example-container" >
    <mat-form-field  appearance="fill" style="width:30%;margin-left:35%;margin-top:5%;">
      <mat-label>Enter your name</mat-label>
      <input matInput  placeholder="Hijore">
     </mat-form-field>
</div>
     <div class="example-container">
        <mat-form-field appearance="fill"style="width:30%;margin-left:35%;">  
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="hijorebe45@gmail.com"  required>
          </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field appearance="fill"style="width:30%;margin-left:35%;">  
          <mat-label>Enter your Phononumber</mat-label>
          <input matInput placeholder="9876543210" required>
          </mat-form-field>
      </div>
      <mat-form-field appearance="fill" style="width:30%;margin-left:35%;">
        <mat-label>Enter the Feedback</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" style="margin-left:45%;border-radius: 20px 100px;">Submit</button>
     