<p>
  <mat-toolbar color="primary" class="mat-elevation-z5">
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">

    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">

    </button>
    <mat-select style="width: 10%;background-color:white" >
      <mat-option value="">Java developer</mat-option>
      <mat-option value="">Python developer</mat-option>
      <mat-option value="">RPA developer</mat-option>
      <mat-option value="">C++ developer</mat-option>
    </mat-select>
    <a mat-raised-button routerLink='signin' color="primary" class="signin"
      style="border-radius: 20px 100px;">Signin</a>
    <a mat-raised-button routerLink='signup' color="primary" class="signup"
      style="border-radius: 20px 100px;">SignUp</a>
  </mat-toolbar>
</p>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list style="width: 150px;">
      <a mat-list-item routerLink='dashboard' style="height:60px;">
        <mat-icon>dashboard</mat-icon>Dashboard
      </a>
      <a mat-list-item routerLink='stockdetails' style="height:60px;">
        <mat-icon>store</mat-icon>StocksDetails
      </a>
      <a mat-list-item routerLink='salesdetails' style="height:60px;">
        <mat-icon>shopping_cart</mat-icon>salesDetails
      </a>
      <a mat-list-item routerLink='transaction' style="height:60px;">
        <mat-icon>payment</mat-icon>Invoice
      </a>
      <a mat-list-item routerLink='feedback' style="height:60px;">
        <mat-icon>feedback</mat-icon>Feedback
      </a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p style="height:88vh;">
      <router-outlet>

      </router-outlet>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-sidenav-container class="footers">

  <div class='fas fa-window-maximize fa-2x' id="footericon" #footer>
    <i class='fab fa-instagram'></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook"></i>

  </div>

</mat-sidenav-container>
<!-- <mat-form-field  appearance="fill" style="width:30%;margin-left:35%;margin-top:5%;">
  <mat-label>Username</mat-label>
  <input matInput  placeholder="">
 </mat-form-field>
 <mat-form-field  appearance="fill" style="width:30%;margin-left:35%;margin-top:1%;">
  <mat-label>Password</mat-label>
  <input matInput type="password" placeholder="">
 </mat-form-field><br>
 <a mat-raised-button routerLink='ui' color="primary" style="margin-left:48%" class="signin">SignIn</a>
 <router-outlet>
  
</router-outlet> -->